<div class="footer">
	<div class="row">
		<div class="col-md-2">
			<%= link_to 'ABOUT', 'javascript:void(0);' %>
		</div>
		<div class="col-md-2">
			<%= link_to 'MEET THE TEAM', 'javascript:void(0);' %>
		</div>
	</div>
</div>