<div class="banner">
	<%= image_tag 'banner.png' %>
</div>

<div class="container">
	<div class="text-center" id="about">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum eveniet laboriosam unde explicabo similique. Excepturi, ab, saepe quod sequi commodi modi vero fugit eius laudantium rem blanditiis provident harum a!
	</div>

	<%= link_to 'VIEW PUPS', dogs_path, class: 'btn btn-success center-block', id: 'view' %>
</div>